<div class="form-check">
  <input id="{{ field.id_for_label }}" class="form-check-input {% if field.errors %}is-invalid{% endif %}"
    name="{{ field.html_name }}" value="{{ field.html_name }}" type="checkbox" {% if field.value %} checked="checked"
    {% endif %}>
  <label class="form-check-label" for="{{ field.id_for_label }}">
    {{ field.label }}
  </label>
  {% if field.errors %}
  <div id="{{ field.id_for_label }}_feedback" class="invalid-feedback">
    {% for error in field.errors %}{{ error }}{% endfor %}
  </div>
  {% elif field.help_text %}
  <small id="{{ field.id_for_label }}_feedback" class="form-text text-muted">
    {{ field.help_text }}
  </small>
  {% endif %}
</div>