<div class="form-group">
  {% if show_label %}<label class="form-label" for="{{ field.id_for_label }}">{{ field.label }}</label>{% endif %}
  <input type="{{ field.widget_type }}"
         name="{{ field.html_name }}" class="form-control {% if field.errors %}is-invalid{% endif %}" id="{{ field.id_for_label }}"
          {% if not show_label %}placeholder="{{ field.label }}"{% endif %}
         aria-describedby="{{ field.id_for_label }}_feedback"
         value="{% if field.value %}{{ field.value }}{% endif %}">
  {% if field.errors %}
    <div id="{{ field.id_for_label }}_feedback" class="invalid-feedback">
      {% for error in field.errors %}{{ error }}{% endfor %}
    </div>
  {% elif field.help_text %}
    <small id="{{ field.id_for_label }}_feedback" class="form-text text-muted">
      {{ field.help_text }}
    </small>
  {% endif %}
</div>