{% extends "base.html" %}
{% load forms %}
{% load humanize %}
{% block title %}{{ recording.name }}{% endblock %}
{% block main %}
  <div class="container content">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title" v-if="!isEditingName">{{ recording.name }}</h3>
            {% if editable %}
            <form v-if="isEditingName" method="post">
              {% csrf_token %}
              <div class="pt-2">
                <div class="d-inline-block">
                  <div class="">
                    {% render_field form.name show_label=False %}
                  </div>
                </div>
                <div class="d-inline-block">
                  <div class="mb-3" style="margin-top:-3px;">
                    <input class="btn btn-primary" type="submit" value="Save">
                  </div>
                </div>
              </div>
            </form>
            {% endif %}
            <div class="card-actions">
              {% if editable %}
                <span v-on:click="isEditingName=true" class="text-black" href="{{ recording.get_absolute_url }}">
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M4 20h4l10.5 -10.5a1.5 1.5 0 0 0 -4 -4l-10.5 10.5v4"></path>
                    <line x1="13.5" y1="6.5" x2="17.5" y2="10.5"></line>
                  </svg>
                </span>
              {% endif %}
              <span class="ms-2 copy-to-clipboard" data-clipboard="{{ recording.get_absolute_url }}" data-bs-toggle="tooltip" data-bs-placement="top" title="copy URL to clipboard">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-share" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <circle cx="6" cy="12" r="3"></circle>
                  <circle cx="18" cy="6" r="3"></circle>
                  <circle cx="18" cy="18" r="3"></circle>
                  <line x1="8.7" y1="10.7" x2="15.3" y2="7.3"></line>
                  <line x1="8.7" y1="13.3" x2="15.3" y2="16.7"></line>
                </svg>
              </span>
              {% if editable %}
                <a data-bs-toggle="modal" data-bs-target="#delete-modal">
                <span class="ms-2 button cursor-pointer" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete" >
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-trash" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                      <path d="M4 7l16 0"></path>
                      <path d="M10 11l0 6"></path>
                      <path d="M14 11l0 6"></path>
                      <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12"></path>
                      <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3"></path>
                  </svg>
                </span>
                </a>

                <div class="modal" id="delete-modal" tabindex="-1">
                  <div class="modal-dialog modal-sm" role="document">
                    <div class="modal-content">
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      <div class="modal-status bg-danger"></div>
                      <div class="modal-body text-center py-4">
                        <!-- Download SVG icon from http://tabler-icons.io/i/alert-triangle -->
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon mb-2 text-danger icon-lg" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 9v2m0 4v.01" /><path d="M5 19h14a2 2 0 0 0 1.84 -2.75l-7.1 -12.25a2 2 0 0 0 -3.5 0l-7.1 12.25a2 2 0 0 0 1.75 2.75" /></svg>
                        <h3>Are you sure?</h3>
                        <div class="text-muted">Do you really want to delete this video?</div>
                      </div>
                      <div class="modal-footer">
                        <div class="w-100">
                          <div class="row">
                            <div class="col"><a href="#" class="btn w-100" data-bs-dismiss="modal">
                                Cancel
                              </a></div>
                            <div class="col">
                              <form method="post">
                                {% csrf_token %}
                                <input class="btn btn-danger w-100" data-bs-dismiss="modal" type="submit" value="Delete">
                              </form>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              {% endif %}
            </div>
          </div>
          <div class="card-body p-0">
            <video
                id="video-{{ recording.short_id }}"
                class="video-js"
                controls
                preload="auto"
                data-setup='{"fluid": true}'
            >
              <source src="{% url "recordings:playlist" recording.short_id %}" type="application/x-mpegURL"/>
            </video>
          </div>
          <div class="card-footer text-black-50 small">
            <svg style="width: 16px; height: 16px;" xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-eye" width="14" height="14" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <circle cx="12" cy="12" r="2"></circle>
              <path d="M22 12c-2.667 4.667 -6 7 -10 7s-7.333 -2.333 -10 -7c2.667 -4.667 6 -7 10 -7s7.333 2.333 10 7"></path>
            </svg>
            <span class=""> {{ recording.view_count }}</span>
            <span class="float-end">
              {{ recording.created_at|naturaltime }}
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block js %}
  <script type="text/javascript">
      const app = new Vue({
              el: '#app',
              delimiters: ['[[', ']]'],
              data: {
                  isEditingName: false
              },
              mounted() {
              }
          }
      );
  </script>
{% endblock %}
